.git
.github
.venv
.pytest_cache
__pycache__
.hf_space_build
hf_space_build
*.pyc
*.pyo
*.pyd
*.DS_Store

artifacts/*
!artifacts/models/
!artifacts/experiments/
artifacts/models/*
!artifacts/models/p1_historical_pipeline.joblib
!artifacts/models/p1_historical_metadata.json
!artifacts/models/p23_simulation_pipeline.joblib
!artifacts/models/p23_simulation_metadata.json
!artifacts/experiments/experience_1/
artifacts/experiments/*
!artifacts/experiments/experience_1/dataset_consolide_historique_colonnes.csv
notebooks
ressources
mlflow
tests

data/Agriculture Crop Yield.zip
data/Crop Yield Prediction Dataset.zip
